/* Static CSS to test visualisation implementation*/
/* Everything inside the visual will have a margin to highlight the nesting*/
#visual {
    width: 700px;
    height: 700px;
}

#visual * {
    padding: 6px;
    border-style: solid;
    border-width: 2px;
}

/* Each level will have a different clearly distinguishable color */
#visual > * {
    color: blue;
}

#visual > * > * {
    color: orange;
}

#visual > * > * > * {
    color: greenyellow;
}

#visual > * > * > * > * {
    color: fuchsia;
}

#visual > * > * > * > * > * {
    color: darkcyan;
}

#visual > * > * > * > * > * > * {
    color: orangered;
}

#visual > * > * > * > * > * > * > * {
    color: olive;
}